@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F2F2F2;
  font-family: "Raleway", serif;
}
header {
  height: 90px;
  display:flex;
  flex-direction: row;
}
.logo {
  width: 100px;
  margin-left: 50px;
  margin-top: 50px;
}

                             /*
  _ __ ___   ___ _ __  _   _
 | '_ ` _ \ / _ \ '_ \| | | |
 | | | | | |  __/ | | | |_| |
 |_| |_| |_|\___|_| |_|\__,_|
                              */

.menu {
  margin-top: 50px;
  margin-left: 60%;
}
.menu ul {
list-style-type: none;
}
.menu li {
  display: inline;
  margin-right: 60px;
  padding: 0px 20px 0 20px;
}
.menu li:hover {
  border-top: solid #0065FC;
  border-width: 2px;
  padding-top: 70px;
}
.menu a{
  color: black;
  text-decoration: none;
}
.menu a:hover{
  color: #0065FC;
  text-decoration: none;
}
#inscription {
  color: #0065FC;
  font-weight: bold;
}

@media all and (max-width:1440px)
{
  .menu {
    margin-left: 45%;
  }

}
